{% extends "base.html" %}
{% load base %}

{% load tabs %}
{% block navigation %}
{% activetab "topnav" "mydeal" %}
{{ block.super }}
{% endblock %}

{% block mainbody %}
<div class="center clearfix">
<div class="my_container">
	<div class="subject">
		<span>修改我的团购</span>
	</div>
<div class="add_form">
<form action="" method="POST">
<div class="row">
<label>团购标题</label>{{ form.name }}
{% if form.name.errors %}
<div class="error gr">{{ form.name.errors }}</div>
{% endif %}
</div>
<div class="row">
<label>团购网址</label>{{ form.url }}
{% if form.url.errors %}
<div class="error gr">{{ form.url.errors }}</div>
{% endif %}
</div>
<div class="row">
<label>网站名称</label>{{ form.site }}
{% if form.site.errors %}
<div class="error gr">{{ form.site.errors }}</div>
{% endif %}
</div>
<div class="row">
<label>买入价格</label>{{ form.price }}
{% if form.price.errors %}
<div class="error gr">{{ form.price.errors }}</div>
{% endif %}
</div>
<div class="row">
<label>买入帐号</label>{{ form.account }}
{% if form.account.errors %}
<div class="error gr">{{ form.account.errors }}</div>
{% endif %}
</div>
<div class="row">
<label>隐私</label>{{ form.type }}
{% if form.type.errors %}
<div class="error gr">{{ form.type.errors }}</div>
{% endif %}
</div>
<div class="row">
<label>是否已使用</label>{{ form.status }}
{% if form.status.errors %}
<div class="error gr">{{ form.status.errors }}</div>
{% endif %}
</div>
<div class="row">
<label>使用日期</label>{{ form.used_at }}
{% if form.used_at.errors %}
<div class="error gr">{{ form.used_at.errors }}</div>
{% endif %}
<div class="tips gr">例如：2010-07-01</div>
</div>
<div class="row">
<label>是否有期限</label>{{ form.limit }}
{% if form.limit.errors %}
<div class="error gr">{{ form.limit.errors }}</div>
{% endif %}
</div>
<div class="row">
<label>有效期</label>{{ form.deadline }}
{% if form.deadline.errors %}
<div class="error gr">{{ form.deadline.errors }}</div>
{% endif %}
<div class="tips gr">例如：2010-07-01</div>
</div>
<div class="row">
<label>预约时间</label>{{ form.reserve }}
{% if form.reserve.errors %}
<div class="error gr">{{ form.reserve.errors }}</div>
{% endif %}
<div class="tips gr">例如：2010-07-01</div>
</div>
<div class="clearfix"></div>
<div class="row" style="margin-top: 20px">
{{ form.deal }}
{{ form.step }}
<input type="submit" value="保存" class="bat01" style="margin-left: 80px;"/>
</div>
</form>
</div>
</div>
</div>
{% endblock %}
