{% extends "base.html" %}
{% load base %}

{% block city_list %}{% endblock %}


{% block mainbody %}
<div class="center clearfix">
<div class="city">
<ul>
<li class="red chsh">热门城市：</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'bj' %}">北京</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'sh' %}">上海</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'sz' %}">深圳</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'gz' %}">广州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'qd' %}">青岛</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'wh' %}">武汉</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'nj' %}">南京</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'zz' %}">郑州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'tj' %}">天津</a></li>
</ul>
</div>
<div class="cityfl clearfix">
<ul>
<li class="lb">Ａ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'as' %}">鞍山</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'ay' %}">安阳</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｂ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'bj' %}">北京</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'bt' %}">包头</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｃ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'cd' %}">成都</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'cq' %}">重庆</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'cc' %}">长春</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'cs' %}">长沙</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'cd1' %}">承德</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'cd2' %}">常德</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'cz' %}">沧州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'cz1' %}">常州</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｄ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'dl' %}">大连</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'dy' %}">东营</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'dq' %}">大庆</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'dg' %}">东莞</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'dz' %}">德州</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｅ.  </li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'eeds' %}">鄂尔多斯</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｆ. </li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'fz' %}">福州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'fs' %}">佛山</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｇ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'gz' %}">广州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'gy' %}">贵阳</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'gl' %}">桂林</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｈ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'hf' %}">合肥</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'hz' %}">杭州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'heb' %}">哈尔滨</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'hk' %}">海口</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'hhht' %}">呼和浩特</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'ha' %}">淮安</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'hz1' %}">惠州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'hz2' %}">湖州</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｊ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'jn' %}">济南</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'jl' %}">吉林</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'jh' %}">金华</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'jm' %}">江门</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'jx' %}">嘉兴</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'jn1' %}">济宁</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'jz' %}">锦州</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｋ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'km' %}">昆明</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'klmy' %}">克拉玛依</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｌ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'lz' %}">兰州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'ly' %}">洛阳</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'lf' %}">廊坊</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'lw' %}">莱芜</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'lyg' %}">连云港</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'lz1' %}">柳州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'ly1' %}">临沂</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'ly2' %}">龙岩</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｍ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'mas' %}">马鞍山</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｎ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'nj' %}">南京</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'nc' %}">南昌</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'nn' %}">南宁</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'nb' %}">宁波</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'nt' %}">南通</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｐ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'pj' %}">盘锦</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｑ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'qd' %}">青岛</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'qhd' %}">秦皇岛</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'qz' %}">泉州</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｒ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'rz' %}">日照</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｓ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'sh' %}">上海</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'sz' %}">深圳</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'sz1' %}">苏州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'sjz' %}">石家庄</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'sy' %}">沈阳</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'sx' %}">绍兴</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'sy2' %}">三亚</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'sq' %}">宿迁</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｔ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'tj' %}">天津</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'ta' %}">泰安</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'ty' %}">太原</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'ts' %}">唐山</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'tz' %}">台州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'tz1' %}">泰州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'tl' %}">铜陵</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｗ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'wh' %}">武汉</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'wx' %}">无锡</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'wh1' %}">芜湖</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'wh2' %}">威海</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'wlmq' %}">乌鲁木齐</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'wz' %}">温州</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｘ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'xa' %}">西安</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'xm' %}">厦门</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'xf' %}">襄樊</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'xz' %}">徐州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'xx' %}">新乡</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｙ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'yc' %}">银川</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'yz' %}">扬州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'yt' %}">烟台</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'yy' %}">岳阳</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'yc1' %}">盐城</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'yc2' %}">宜昌</a></li>
</ul>
<ul class="cl">
<li class="lb">Ｚ.</li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'zz' %}">郑州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'zh' %}">珠海</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'zb' %}">淄博</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'zj' %}">镇江</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'zs' %}">舟山</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'zs1' %}">中山</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'zz1' %}">株洲</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'zz2' %}">漳州</a></li>
<li><a class="bluew" href="{% myurl www.douquan.com www_city_index 'zq' %}">肇庆</a></li>
</ul>
</div>
</div>
{% endblock %}
